@using System.Linq.Expressions
<div class="@Class">
    <label>@Label</label>
    <InputText Value="@Value" ValueChanged="@ValueChanged" ValueExpression="@ValueExpression" />
    <ValidationMessage For="@ValueExpression" />
</div>
@functions {
    [Parameter] public string Class { get; set; }
    [Parameter] public string Label { get; set; }
    [Parameter] public string Value { get; set; }
    [Parameter] public EventCallback<string> ValueChanged { get; set; }
    [Parameter] public Expression<Func<string>> ValueExpression { get; set; }
}
